
[rewrite_local]
^https?:\/\/sadaslvcxjiaa\.vip\/front\/media\/(getMediaById|listShortVideoRandom) url script-request-header https://raw.githubusercontent.com/Yuheng0101/X/main/Scripts/SFSP/crack.js
^https?:\/\/sadaslvcxjiaa\.vip\/front\/(system\/bannersetting\/userGetBannerSet|cluser\/c\/user\/info\/get) url script-response-body https://raw.githubusercontent.com/Yuheng0101/X/main/Scripts/SFSP/pure.js

[mitm]
hostname = sadaslvcxjiaa.vip