# 什么值得买每日自动签到

^https?:\/\/user-api\.smzdm\.com\/checkin$ url script-request-header https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/script/smzdm/smzdm_daily.js

hostname = user-api.smzdm.com




















































// Adding a dummy plugin commit(19)
// Adding a dummy stoverride commit(16)
// Adding a dummy sgmodule commit(22)
