hostname = m.baidu.com,www.google.com
https:\/\/m\.baidu\.com/s\?from=(.+)&word=wk\+([^&]+) url 302 https://zh.wikipedia.org/wiki/$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=wk1\+([^&]+) url 302 https://wikipedia.org/wiki/$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=sof\+([^&]+) url 302 https://stackoverflow.com/search?q=$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=yd\+([^&]+) url 302 https://dict.youdao.com/search?q=$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=trc\+([^&]+) url 302 https://translate.google.com/#view=home&op=translate&sl=auto&tl=zh-CN&text=$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=tre\+([^&]+) url 302 https://translate.google.com/#view=home&op=translate&sl=auto&tl=en&text=$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=trj\+([^&]+) url 302 https://translate.google.com/#view=home&op=translate&sl=auto&tl=ja&text=$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=gm\+([^&]+) url 302 https://www.google.com/search?&tbm=isch&q=$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=gh\+([^&]+) url 302 https://github.com/search?q=$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=tf(\+|%20)([^&]+) url 302 https://www.google.com/search?as_q=$3&as_sitesearch=testflight.apple.com
https:\/\/m\.baidu\.com/s\?from=(.+)&word=wb\+([^&]+) url 302 https://s.weibo.com/weibo/$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=wx\+([^&]+) url 302 https://weixin.sogou.com/weixinwap?query=$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=jd\+([^&]+) url 302 https://so.m.jd.com/ware/search.action?keyword=$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=tb\+([^&]+) url 302 https://s.m.taobao.com/h5?q=$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=tm\+([^&]+) url 302 https://s.m.tmall.com/m/search.htm?q=$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=bi\+([^&]+) url 302 https://cn.bing.com/search?q=$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=yh\+([^&]+) url 302 https://greasyfork.org/zh-CN/scripts?q=$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=bl\+([^&]+) url 302 https://m.bilibili.com/search?keyword=$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=af\+([^&]+) url 302 https://www.acfun.cn/search?keyword=$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=yt\+([^&]+) url 302 https://www.youtube.com/results?search_query=$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=ph\+([^&]+) url 302 https://cn.pornhub.com/video/search?search=$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=51\+([^&]+) url 302 https://51cg1.com/search/$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=cg\+([^&]+) url 302 https://chigua2.com/search/$2/
https:\/\/m\.baidu\.com/s\?from=(.+)&word=ja\+([^&]+) url 302 https://jable.tv/search/$2/
https:\/\/m\.baidu\.com/s\?from=(.+)&word=91\+([^&]+) url 302 https://cn1.91short.com/search?wd=$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=hm\+([^&]+) url 302 https://hanime1.me/search?query=$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=wz\+([^&]+) url 302 https://www.wuzhuiso.com/s?q=$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=ios\+([^&]+) url 302 https://www.qimai.cn/search/index/search/$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=ddg\+([^&]+) url 302 https://duckduckgo.com/?ia=about&q=$2
https:\/\/m\.baidu\.com/s\?from=(.+)&word=gg\+([^&]+) url 302 https://www.google.com/search?q=$2
https:\/\/www\.google\.com\/search\?q=bd\+([^&]+) url 302 https://m.baidu.com/s?word=$1