# author:Levi
# 搭配convert js to sgmodule.py使用。可将qx的js/conf/snippet文件转换为sgmodule文件。使用方法见博客。

name: convert js to sgmodule

on:
  push:
    paths:
      - 'scripts/**' # Trigger on changes in scripts folder
  pull_request:
    paths:
      - 'Surge/**' # Trigger on changes in surge folder
  workflow_dispatch:

jobs:
  generate_sgmodule:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install PyGithub

      - name: Run script
        run: python .github/scripts/convert_js_to_sgmodule.py
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Archive artifacts
        uses: actions/upload-artifact@v2
        with:
          name: sgmodule-artifacts
          path: ${{ github.workspace }}/Surge

      - name: Check for changes
        id: check_changes
        run: |
          git status
          git diff-index --quiet HEAD || echo "::set-output name=changes_exist::true"

      - name: Sync with remote
        if: steps.check_changes.outputs.changes_exist == 'true'
        run: |
          git fetch origin
          git reset --soft origin/main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit and push if changes exist
        if: steps.check_changes.outputs.changes_exist == 'true'
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          git add .
          git commit -m "已转换为sgmodule文件"
          git push --force origin HEAD:main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Trigger next workflow convert_js_to_plugin
        if: steps.check_changes.outputs.changes_exist == 'true'
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: convert_js_to_plugin.yml
          token: ${{ secrets.GITHUB_TOKEN }}    
