# author: Levi
# 搭配convert_js&conf&snippet_stoverride.py使用。可将qx的js/conf/snippet文件转换为stoverride文件。

name: convert_js_to_stoverride

on:
  push:
    paths:
      - 'scripts/**' # Trigger on changes in 'scripts' folder
  pull_request:
    paths:
      - 'Stash/**' # Trigger on changes in 'Stash' folder
  workflow_dispatch:

jobs:
  generate_stoverride:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install PyGithub

      - name: Run script
        run: python .github/scripts/convert_js_to_stoverride.py
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Archive artifacts
        uses: actions/upload-artifact@v2
        with:
          name: stoverride-artifacts
          path: ${{ github.workspace }}/Stash
        
      - name: Push to Quantumult-X Repository
        run: |
          set -x
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          git add .
          git commit -m "Add generated stoverride file"
          git push origin HEAD:main --force
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
